.sidenav {
  height: 100vh;
}

.hover-button {
  padding: 10px;
  border-radius: 5px;
  transition: 250ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba(110, 114, 127, 0.5);
  }
}

.header {
  font-size: 2em;
}
