<div class="row text-style g-2 pt-3 pb-4">
  <div class="col-sm p-3 rounded-2 border-primary border shadow-sm">
    <h1 class="small mb-4">Active Accounts</h1>
    <h1>{{Accounts.length}}</h1>
  </div>
  <div class="col-sm -12 text-white cards-hover ms-md-2 p-3 rounded-2 bg-primary border shadow-sm">
    <h1 class="small">Exchange rates</h1>
    <div class="d-flex justify-content-between mb-3">
      <div>
        <h5 class="fw-bold ">USD/ZAR - {{currency.rates.ZAR}}</h5>
      </div>
      <div>
        <h5 class="fw-bold ">USD/GBP - {{currency.rates.GBP}}</h5>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <span class="fw-bold small">Provided by</span>
      <img width="200" src="https://openexchangerates.org/zfoxr/images/logos/logo-open-exchange-rates-white.png" alt="">
    </div>
  </div>
</div>


