$gold : #bb8b41;

.text-style {
  font-family: 'Montserrat', sans-serif;
}

.dash-container {
  width: 100vw;
}
.cards-hover{
  cursor: pointer;
  transition: 250ms ease-in-out;

  &:hover {
    background-color: $gold;
    color: rgb(250, 250, 250);
  }
}


